spring:
  application:
    name: toggl-to-jira

server:
  port: 0

toggl-to-jira:
  settings:
    active: false
    prefix: "STC-"
    skipLines: 1
    rate: 250 # 250 ms => 4 Requests / second
    jira:
      url: "https://your-project.atlassian.net"
      user-email: "your-jra-email"
      api-token: "your-api-token"
      path: "/rest/api/3/issue/{issueId}/worklog"
    backup:
      active: false
      path: "your-backup-path"
